--
layout: default
---
<style>
    .style_as_me {
        font-weight: bold;
    }
</style>
<!-- people Section -->
    <section id="people" class="bg-light-gray">
        <div class="container">
            <div class="row">
                {% for member in site.data.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/people/{{ member.pic }}" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}
                            <li><a href="https://scholar.google.com/citations?user=6OQRGagAAAAJ&hl=en"><i class="ai ai-google-scholar"></i></a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                        <h4>ABOUT ME</h4>
                        <p class="text-muted">
                            I am a climate scientist motivated by the potential for climate studies to minimize future disaster risk to vulnerable communities around the world. Towards this goal, my research explores the physical drivers of climate extremes, and their impacts on agriculture, water availability and human health. I combine a variety of tools including observations, paleoclimate evidence, remote sensing data, and model simulations, to study extremes in the past and future climates. I am particularly interested in studying extremes such as intense rainfall, droughts, and heat waves in monsoonal climates that affect the billions of people with relatively poor adaptive capacity living in these regions.  
                        </p>
                        <p class="text-muted">
                            I am an Assistant Professor in the <a href='https://environment.wsu.edu/'> School of the Environment</a> at Washington State University Vancouver (WSUV). I was a postdoctoral fellow at the Lamont-Doherty Earth Observatory of Columbia University. I received my Ph.D. in <a href='https://earth.stanford.edu/ess'> Environmental Earth System Science</a> from Stanford University in 2015 working with <a href='https://pangea.stanford.edu/researchgroups/cesd/'> Dr. Noah Diffenbaugh</a>. My dissertation investigated trends in daily-scale extremes events in different regions, the associated physical processes, and the role of natural and anthropogenic factors in shaping their spatial and temporal characteristics. In 2015, I was recognized as a <a href='http://www.nasonline.org/programs/kavli-frontiers-of-science/'> Kavli 'Frontiers of Science' Fellow</a> by the U.S. National Academy of Sciences. 
                        </p>
                        <p class="text-muted">
                            Prior to my career in earth sciences, I completed a Master's in Aeronautics and Astronautics Engineering from Purdue University while researching environmentally friendly alternatives for aviation fuels in <a href='http://web.ics.purdue.edu/~lqiao/index.htm'> Dr. Li Qiao's group </a>. This interest was fueled by my passion for all things aviation-related, my research with <a href='http://www.aero.iitb.ac.in/~sudar/index_files/Page494.htm'> Dr. Sudarshan Kumar </a> at the Indian Institute of Technology Bombay for two years, and my Bachelor's in Mechanical Engineering at Vishwakarma Institute of Technology, Pune University, India.
                        </p>
                        <p class="text-muted">
                            I am passionate about building a more inclusive academic environment. At multiple institutes, I have initiated organizations aimed to improve gender diversity in STEM fields and have been involved in a number of mentoring programs targeting students from underrepresented backgrounds. I strongly believe that a more diverse community will be more effective in addressing the complex challenges facing the world today. 
                        </p>
                        <p class="text-muted">
                            When I'm not actively working, I am out on adventures with my pibble Patches discovering the diverse wildlife in NYC parks including racoons and rodents, hiking both urban and natural environments, or working with the wonderful dogs at <a href='http://poshpetsrescue.org/'> Posh Pets Rescue</a>.   
                         </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

<!-- RESEARCH -->
    <section id="research" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">Broadly, I study climate change and climate variability in different regions, with a particular focus on timescales and events that impact agriculture and human health. Following are the main themes of my research.</h3>
                </div>
            </div>
        </div>
        {% for topic in site.data.research %}
        <div class="container">
            <div class="row research-topic">
                <div class="col-md-4">
                        <img src="img/research/{{ topic.pic }}" class="img-responsive" alt="">
                </div>
                <div class="col-lg-8">
                        <h4>{{ topic.name }}</h4>
                        <p class="text-muted">{{ topic.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </section>
    

<!--- PAPERS -->
    <section id="papers" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Papers</h2>
                    <h3 class="section-subheading text-muted">(Please email me for copies of manuscripts not provided below)</h3>
                </div>
            </div>
        </div>
        <div class="container">
<!--             <div class="row">
                <div class="col-lg-12">
                    <h3>In Progress / Submitted</h3>
                </div>
	        </div> -->
            <div class="row">
                <div class="col-lg-12">
                    <h3>Published</h3>
                    {% bibliography --file references %}
                </div>
	        </div>
        </div>
    </section>

<!--- SERVICE -->
    <section id="service" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Academic Service</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="code">
                        {% for service in site.data.my_service %}
                        <li>
                            <p> <h4> {{service.name}} </h4>{{service.description}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>                
            </div>
        </div>
    </section>

<!--- OUTREACH -->

    <section id="outreach" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">OUTREACH</h2>
                    <h3 class="section-subheading text-muted"> I am enthusiastic about educating young and adult members of the community on topics related to the science of climate change, climate impacts, and clean energy opportunities. Through lectures, hands-on workshops and online forums, I frequently engage in educational activites. Below is a flavor of some of these activities. </h3>
                    <img src="img/outreach/people1.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        {% for topic in site.data.outreach %}
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                        <h4>{{ topic.name }}</h4>
                        <p class="text-muted">{{ topic.description }}</p>
                        <p class="text-muted"> <a class="page-scroll" href="#{{ topic.more }}">{{ topic.more }}</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="container">
             <img src="img/outreach/people2.jpg" class="img-responsive" alt="">         
        </div>
    </section>

<!--- PRESS -->
<section id="links" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PRESS</h2>
                    <h3 class="section-subheading text-muted"> My research in popular press</h3>
                </div>
            </div>
        </div>
        {% for topic in site.data.links %}
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                     <div class="col-lg-12">
                        <div class="text-muted">{{ topic.description1 }}</div>
                        <div class="text-muted">{{ topic.description2 }}</div>
                        <br>
                        <div class="text-muted">{{ topic.description3 }}</div>
                        <div class="text-muted">{{ topic.description4 }}</div>
                        <br>
                        <div class="text-muted">{{ topic.description5 }}</div>
                        <div class="text-muted">{{ topic.description6 }}</div>
                        <div class="text-muted"> <a class="page-scroll" href="#{{ topic.more }}">{{ topic.more }}</a></div>
                        </div>
                </div>
            </div>
        </div>
        {% endfor %}   
</section> 


